@font-face {
  font-family: "font-1";
  src: url(./assets/fonts/JosefinSans-Regular.ttf);
}
@font-face {
  font-family: "font-2";
  src: url(./assets/fonts/JosefinSans-Bold.ttf);
}
@font-face {
  font-family: "font-3";
  src: url(./assets/fonts/JosefinSans-Thin.ttf);
}
@font-face {
  font-family: "font-4";
  src: url(./assets/fonts/PlayfairDisplay-Regular.ttf);
}
@font-face {
  font-family: "font-5";
  src: url(./assets/fonts/PlayfairDisplay-ExtraBold.ttf);
}
*,
*::after,
*::before {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  display: none;
}

*::selection {
  background: #fefeff;
  color: #0b7994;
  text-shadow: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fefeff;
}

body {
  margin: 0 auto;
  background-color: rgb(162, 202, 234);
  max-width: 1500px;
}

.container {
  position: relative;
  height: 100vh;
  width: 100%;
  background: linear-gradient(19deg, rgb(0, 217, 255) 30%, rgb(28, 107, 160) 91%);
  overflow-x: hidden;
  overflow-y: hidden;
  transition: 9s;
}
.container .star {
  background: url(../assets/img/star.png) center/cover;
  position: absolute;
  z-index: 0;
  transition: 0.3s;
  opacity: 0;
}
.container .Sstar {
  background: url(../assets/img/star\ of\ dawn.png) center/cover;
  position: absolute;
  z-index: 0;
  transition: 0.3s;
  opacity: 0;
}
.container #moon {
  z-index: 1.5;
  position: absolute;
  top: 110vh;
  right: 55vw;
  color: rgb(255, 255, 113);
  font-size: calc(5rem + 16vw);
  transition: 3s;
  transition-delay: 0.9s;
}
.container #sun {
  position: absolute;
  color: yellow;
  z-index: 0;
  font-size: 10vw;
  top: 2vh;
  left: 5px;
  transition: 2s;
}
.container .cloudOne {
  background: url(./assets/img/cloud_scene1st.png) center/cover;
  position: absolute;
  bottom: 0;
  z-index: 2;
  left: 0;
  height: 100vh;
  width: 100%;
  animation: anim infinite;
  animation-duration: 15s;
}
.container .cloudTwo {
  background: url(../assets/img/cloud_scene2nd.png) center/cover;
  position: absolute;
  bottom: 0;
  z-index: 1;
  left: 0;
  height: 100vh;
  width: 100%;
  animation: anim2 infinite;
  animation-duration: 50s;
}
.container .cloudCompany {
  background: url(./assets/img/cloud_scene_mini.png) center/contain;
  transition: 4s ease-out;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 1;
  height: 80px;
  width: 150px;
}
@keyframes anim {
  0% {
    height: 100vh;
  }
  50% {
    height: 90vh;
  }
  100% {
    height: 100vh;
  }
}
@keyframes anim2 {
  0% {
    height: 70vh;
  }
  25% {
    height: 100vh;
  }
  50% {
    height: 110vh;
  }
  90% {
    height: 60vh;
  }
  100% {
    height: 70vh;
  }
}
.container .typed {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 4;
  display: flex;
  width: 75vw;
  margin: 7vh auto;
  flex-direction: column;
  font-size: calc(0.5rem + 2vw);
  font-weight: 700;
  color: #ffffff;
  letter-spacing: 1px;
  line-height: 1.1;
  font-family: "font-3", sans-serif;
  text-shadow: -2px -1px 1px #0b7994;
}

.navbarFixed {
  position: fixed;
  top: 0;
  z-index: 8;
  background: #000;
}

nav {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "font-1", sans-serif;
  position: relative;
  height: 10vh;
}
nav .navLinks {
  transition: 0.6s;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
nav .navLinks li {
  display: flex;
  z-index: 12;
  cursor: pointer;
  list-style: none;
  padding: 20px 3px 20px;
  transition: 0.4s;
}
nav .navLinks a {
  text-decoration: none;
  color: #ffffff;
  font-size: calc(0.6rem + 2.4vw);
  transition: 0.4s;
  opacity: 0;
  transform: translateY(-50px);
}
nav .navLinks li:hover {
  transform: scale(1.15);
  z-index: 12;
}
nav .toggle {
  z-index: 50;
  margin-right: 3%;
  margin-top: -8px;
  transition: 0.6s;
  transform: translateX(80px);
}
nav .toggle .theme {
  width: 50px;
  height: 25px;
  background-color: #e2dada;
  border-radius: 1rem;
  position: relative;
  cursor: pointer;
}
nav .toggle .theme::before {
  content: "";
  width: 20px;
  height: 20px;
  background-color: #0b7994;
  position: absolute;
  top: 2px;
  z-index: 3;
  left: 3px;
  border-radius: 50%;
  transition: all 300ms ease-in-out;
}
nav .toggle .theme::after {
  content: "";
  background-image: url(../assets/icons/sun.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 3px;
  z-index: 2;
  right: 2px;
  border-radius: 50%;
  transition: all 300ms ease-in-out;
}
nav .toggle .theme.dark::before {
  transform: translateX(calc(100% + 4px));
  background-color: #201b01;
}
nav .toggle .theme.dark::after {
  transform: translateX(calc(-100% - 4px));
  background-image: url(../assets/icons/moon-stars.svg);
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 3px;
  z-index: 2;
  border-radius: 50%;
}
nav .toggle.is-inview {
  transform: none;
  transition-delay: 1s;
}

.sideNav {
  position: fixed;
  top: 0;
  right: 0;
  width: 200px;
  z-index: 5;
  height: 100vh;
}

.dark .container {
  font-family: "font-2";
  transition: linear 5s;
  background: linear-gradient(19deg, #002a69 30%, rgb(1, 3, 32) 91%);
}
.dark .container #moon {
  opacity: 1;
  transform: none;
  top: 40vh;
  transform: translateX(-20px);
}
.dark .container #sun {
  left: -50vw;
  opacity: 0;
}

.dark .fas {
  color: #ffffff;
}

.dark .star {
  display: block;
  transition: 0.5s;
  opacity: 1;
}

.dark .Sstar {
  display: block;
  transition: 0.5s;
  opacity: 1;
}

.dark .typed {
  mix-blend-mode: exclusion;
}

main {
  overflow: hidden;
  position: relative;
  font-family: "font-3", sans-serif;
  height: 100vh;
  background: linear-gradient(360deg, #0b7994 20%, rgb(255, 255, 255) 91%);
}
main .title.plus {
  z-index: 555;
  color: #fff;
  transition: color 0.5s;
}
main .title.plus span:nth-child(1) {
  transition-delay: 0.1s;
}
main .title.plus span:nth-child(2) {
  transition-delay: 0.2s;
}
main .title.plus span:nth-child(3) {
  transition-delay: 0.3s;
}
main .title.plus span:nth-child(4) {
  transition-delay: 0.4s;
}
main .title.plus span:nth-child(5) {
  transition-delay: 0.5s;
}
main .title.plus span:nth-child(6) {
  transition-delay: 0.6s;
}
main .title.plus span {
  border: none;
}
main h1 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8vh;
  padding: 15px 10px;
  margin: 13px auto;
  width: 100vw;
  color: #0b7994;
  font-size: calc(1.5rem + 2vw);
}
main h1 span {
  padding-top: 8px;
  border-bottom: 3px solid #0b7994;
}
main .mesSkills {
  margin: 150px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .mesSkills .wrapper {
  z-index: 6;
  font-family: "font-1", sans-serif;
  animation: anime infinite 16s;
  font-weight: bold;
  color: #333;
  letter-spacing: 3px;
}
main .mesSkills .wrapper p {
  cursor: pointer;
  font-size: calc(1rem + 5vw);
  line-height: 30px;
  padding-top: 15px;
  background: #0b7994;
  display: inline-block;
  border-radius: 6px;
  box-shadow: 4px 4px 10px rgba(255, 255, 255, 0.26);
  margin-top: 2.6rem;
  color: transparent;
  -webkit-text-stroke: 2px #fff;
}
main .mesSkills .wrapper p a {
  text-decoration: none;
  font-weight: 400;
  -webkit-text-stroke: 2px #fff;
  line-height: 30px;
  padding-top: 15px;
  background: #0b7994;
}
main .mesSkills .wrapper p::before {
  content: "";
  background: #333;
  height: 100%;
  width: 25px;
}
main .mesSkills .wrapper p:hover {
  letter-spacing: 5px;
  -webkit-text-stroke: 2px #0b7994;
  transition: 0.8s;
  background-color: #fff;
  box-shadow: 4px 4px 10px rgba(255, 255, 255, 0.541), 15px 14px 10px #0b7994;
}
main .mesSkills .wrapper p.skrt:hover {
  box-shadow: 4px 4px 10px #0b7994, 15px 14px 10px rgba(255, 255, 255, 0.541);
}
main .mesSkills .wrapper:nth-child(6) p {
  color: transparent;
  -webkit-text-stroke: none;
}
main .mesSkills .wrapper:nth-child(6) p:hover {
  background: #333;
  box-shadow: 4px 4px 10px #0b7994, 15px 14px 10px rgba(170, 2, 2, 0.541);
}
main .snowflake {
  background: url(../assets/img/snowflake.png) center/cover;
  position: absolute;
  z-index: var(--Zindex);
  animation: fall;
}
@keyframes fall {
  to {
    transform: translateY(120vh);
    left: var(--left);
  }
}

@media screen and (max-height: 750px) {
  main .mesSkills {
    margin: 80px 0 0;
  }
  main .mesSkills .wrapper p {
    line-height: 35px;
    padding-top: 5px;
    margin-top: 1.5rem;
  }
  main .mesSkills .wrapper p a {
    text-decoration: none;
    font-weight: 400;
    line-height: 30px;
    padding-top: 35px;
    background: #0b7994;
  }
}
@media screen and (max-height: 526px) {
  main .mesSkills {
    margin: 60px 0 0;
  }
  main .mesSkills .wrapper p {
    line-height: 30px;
    padding-top: 0px;
    margin-top: 1rem;
    font-size: 2rem;
  }
  main .mesSkills .wrapper p a {
    text-decoration: none;
    font-weight: 400;
    line-height: 30px;
    padding-top: 35px;
    background: #0b7994;
  }
}
@media screen and (max-height: 386px) {
  main .mesSkills {
    margin: 30px 0 0;
  }
  main .mesSkills .wrapper p {
    line-height: 30px;
    padding-top: 0px;
    margin-top: 1rem;
    font-size: 2rem;
  }
  main .mesSkills .wrapper p a {
    text-decoration: none;
    font-weight: 400;
    line-height: 30px;
    padding-top: 35px;
    background: #0b7994;
  }
}
@media screen and (max-height: 356px) and (max-width: 600px) {
  main .mesSkills {
    margin: 35px 0 0 !important;
  }
  main .mesSkills .wrapper p {
    line-height: 25px;
    padding-top: 0px;
    margin-top: 0.6rem;
    font-size: 1.5rem;
  }
  main .mesSkills .wrapper p a {
    text-decoration: none;
    font-weight: 400;
    line-height: 30px;
    padding-top: 35px;
    background: #0b7994;
  }
}
@media screen and (max-width: 605px) {
  .title.plus {
    opacity: 0;
  }
}
.popup {
  font-family: "font-2", sans-serif;
  overflow: hidden;
  background: linear-gradient(360deg, rgb(255, 255, 255) -70%, #0b7994 91%);
  z-index: 6;
  position: absolute;
  color: #fff;
  visibility: hidden;
  height: auto;
  max-width: 800px;
  width: 90%;
  top: 100px;
  border-radius: 15px;
  padding: 15px;
  box-shadow: 4px 4px 15px rgba(23, 7, 7, 0.3921568627);
  transition: 0.5s ease-out;
  transform: scale(2);
  opacity: 0;
}
.popup section {
  padding: 10px;
  height: auto;
  width: 47%;
  background: linear-gradient(131deg, #39505f 0%, rgba(28, 25, 221, 0.4196078431) 99%);
  clip-path: polygon(2.5% 2%, 100% 5%, 100% 97%, 0 99%);
}
.popup section small {
  margin: 0 20px;
  mix-blend-mode: exclusion;
  font-size: 0.9rem;
}
.popup section h2 {
  display: flex;
  margin-bottom: 10px;
  border-bottom: 2px solid rgba(236, 233, 47, 0.4509803922);
  mix-blend-mode: exclusion;
}
.popup section h4 {
  display: flex;
  justify-content: space-between;
  font-family: "font-1", sans-serif;
}
.popup section h4 span {
  mix-blend-mode: exclusion;
  font-family: "font-3", sans-serif;
}
.popup section p {
  letter-spacing: 0.5px;
  margin: 5px 0 5px 30px;
}
.popup section.back {
  margin: -80px 0 0 50%;
  background: linear-gradient(131deg, #aa431a 0%, rgba(245, 25, 80, 0.4196078431) 99%);
  clip-path: polygon(2% 2%, 100% 0%, 100% 100%, 0 95%);
}
.popup section.back h2 {
  border-bottom: 2px solid rgba(245, 80, 80, 0.3647058824);
  mix-blend-mode: normal;
}
.popup section.back p {
  mix-blend-mode: exclusion;
}
.popup section.DB {
  margin: -30px 0 0 10px;
  background: linear-gradient(131deg, #bd481a 0%, rgba(17, 163, 230, 0.4235294118) 99%);
  clip-path: polygon(2.5% 2%, 100% 5%, 100% 90%, 0 99%);
}
.popup section.DB h2 {
  border-bottom: 2px solid #66d5f7;
}
.popup section.bonus {
  margin: 5px 0 0 25%;
  background: linear-gradient(131deg, #b29cb4 0%, rgba(205, 17, 230, 0.4235294118) 99%);
  clip-path: polygon(2.5% 4%, 100% 10%, 100% 100%, 0 95%);
}
.popup section.bonus h2 {
  border-bottom: 2px solid rgba(205, 17, 230, 0.3764705882);
}
.popup .close {
  font-size: 1.8rem;
  color: #58b2b9;
  background-color: #0b7994;
  display: inline-block;
  padding: 7px 8px 3px;
  border-radius: 50%;
  margin: 10px 50% 0;
  transition: 0.3s;
  transform: translateX(-50%);
  cursor: pointer;
}
.popup .close:hover {
  color: #0b7994;
  background-color: #58b2b9;
  transform: translateX(-50%) scale(1.1);
}

.popup.plus {
  visibility: visible;
  opacity: 1;
  transform: none;
}

@media screen and (max-height: 805px) {
  .popup {
    height: auto;
    top: 70px;
    padding: 5px;
  }
  .popup section {
    padding: 5px;
    width: 47%;
  }
  .popup section small {
    margin: 0 20px;
    mix-blend-mode: exclusion;
    font-size: 0.9rem;
  }
  .popup section h2 {
    margin-bottom: 8px;
  }
  .popup section h4 {
    font-size: calc(0.4rem + 1vw);
  }
  .popup section h4 span {
    mix-blend-mode: exclusion;
    font-family: "font-3", sans-serif;
  }
  .popup section p {
    letter-spacing: 0.5px;
    margin: 5px 0 2px 10px;
  }
  .popup section.back {
    margin: -90px 0 0 50%;
  }
  .popup section.DB {
    margin: -20px 0 0 50%;
  }
  .popup section.bonus {
    margin: 5px 0 0 25%;
  }
  .popup .close {
    padding: 7px 8px 3px;
  }
}
@media screen and (max-height: 606px) and (max-width: 820px) {
  .popup section.DB {
    margin: -10px 0 0 50% !important;
  }
  .popup section.back {
    margin: -160px 0 0 50% !important;
  }
}
@media screen and (max-height: 486px) and (max-width: 820px) {
  .popup {
    height: auto;
    top: 70px;
    padding: 5px;
  }
  .popup section {
    padding: 5px;
    width: 20%;
  }
  .popup section h2 {
    margin-bottom: 1px;
  }
  .popup section h4 {
    font-size: calc(0.4rem + 1vw);
  }
  .popup section h4 span {
    display: none;
  }
  .popup section p {
    letter-spacing: 0.5px;
    margin: 5px 0 2px 0px;
  }
  .popup section.back {
    margin: -36% 0 0 22% !important;
  }
  .popup section.DB {
    margin: -20px 0 0 53% !important;
  }
  .popup section.bonus {
    margin: -100px 0 0 75% !important;
  }
  .popup .close {
    font-size: 1.5rem !important;
  }
}
@media screen and (max-width: 605px) {
  .popup {
    height: auto;
    padding: 5px;
  }
  .popup section {
    padding: 5px;
    width: 47%;
  }
  .popup section small {
    margin: 0 20px;
    mix-blend-mode: exclusion;
    font-size: 0.9rem;
  }
  .popup section h2 {
    margin-bottom: 8px;
  }
  .popup section h4 {
    font-size: calc(0.4rem + 1vw);
  }
  .popup section h4 span {
    mix-blend-mode: exclusion;
    font-family: "font-3", sans-serif;
  }
  .popup section p {
    letter-spacing: 0.5px;
    margin: 5px 0 2px 10px;
  }
  .popup section.back {
    margin: -90px 0 0 50%;
  }
  .popup section.DB {
    margin: -20px 0 0 50%;
  }
  .popup section.bonus {
    margin: 5px 0 0 25%;
  }
  .popup .close {
    padding: 7px 8px 3px;
  }
}
@media screen and (max-height: 356px) and (max-width: 600px) {
  .popup {
    height: auto;
    padding: 5px;
  }
  .popup section {
    padding: 5px;
    width: 34%;
  }
  .popup section small {
    margin: 0 20px;
    mix-blend-mode: exclusion;
    font-size: 0.9rem;
  }
  .popup section h2 {
    margin-bottom: 8px;
  }
  .popup section h4 {
    font-size: calc(0.4rem + 0.6vw);
  }
  .popup section h4 span {
    mix-blend-mode: exclusion;
    font-family: "font-3", sans-serif;
  }
  .popup section p {
    letter-spacing: 0.5px;
    margin: 5px 0 2px 10px;
  }
  .popup section.back {
    margin: -80px 0 0 50%;
  }
  .popup section.DB {
    margin: -55px 0 0 40% !important;
  }
  .popup section.bonus {
    margin: -68px 0 0 64% !important;
  }
  .popup .close {
    padding: 7px 8px 3px;
  }
}
.navLinks a.is-inview {
  opacity: 1;
  transform: none;
}
.navLinks .skills.is-inview {
  transition-delay: 0.2s;
}
.navLinks .project.is-inview {
  transition-delay: 0.4s;
}
.navLinks .contact.is-inview {
  transition-delay: 0.6s;
}

.wrapper {
  perspective: 500px;
}

.appear {
  transform: translateY(100%) rotateX(-80deg);
  transform-origin: top center;
  transform-style: preserve-3d;
  transition: 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
  opacity: 0;
}

.appear.is-inview {
  opacity: 1;
  transition-delay: 0.6s;
  transform: none;
}

img.img.is-inview {
  opacity: 1;
  transform: none;
}

section {
  height: 100vh;
  position: relative;
  font-family: "font-3", sans-serif;
}
section h1 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8vh;
  padding: 15px 10px;
  margin: 13px auto;
  width: 100vw;
  color: #0b7994;
  font-size: calc(1.5rem + 2vw);
  color: #fff;
}
section h1 span {
  padding-top: 8px;
  border-bottom: 3px solid #0b7994;
}
section h1 span {
  border-bottom: 3px solid #fff;
}

footer {
  height: 200vh;
  overflow: hidden;
  position: relative;
  font-family: "font-3", sans-serif;
  background: #0b7994;
  transition: background 0.7s;
}
footer .my-projects {
  display: flex;
}
footer .my-projects .project {
  position: absolute;
  margin: 2vh 50%;
  transform: translateX(-50%);
  opacity: 0;
  z-index: -9;
  transition: opacity 0.4 ease-in-out;
}
footer .my-projects .project img.icon {
  display: none;
}
footer .my-projects .project.current {
  opacity: 1;
  display: block;
  z-index: 0;
}
footer .my-projects .project.current img.icon {
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.7137254902);
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}
footer .my-projects .project.current img.icon:hover {
  background: #fff;
  transform: scale(1.08);
}
footer .my-projects .project.current img.icon:active {
  transform: scale(0.9);
}
footer .my-projects .project.current img.icon#prevBtn, footer .my-projects .project.current img.icon.prevBtn {
  top: 40%;
  left: 5%;
}
footer .my-projects .project.current img.icon#nextBtn, footer .my-projects .project.current img.icon.nextBtn {
  top: 40%;
  right: 5%;
}
footer .my-projects .carousel {
  overflow: hidden;
  position: relative;
  width: 90vw;
  max-width: 850px;
  margin: 10px auto;
  padding-bottom: 160px;
}
footer .my-projects .carousel .img-project-1,
footer .my-projects .carousel .img-project-2 {
  display: flex;
  width: 100%;
  height: auto;
}
footer .my-projects .carousel .img-project-1 section,
footer .my-projects .carousel .img-project-2 section {
  position: absolute;
  color: #fefefe;
  width: 100%;
}
footer .my-projects .carousel .img-project-1 img,
footer .my-projects .carousel .img-project-2 img {
  object-fit: cover;
  width: 90vw;
  max-width: 850px;
}
footer .my-projects .carousel .img-project-1 h3,
footer .my-projects .carousel .img-project-2 h3 {
  margin: 5px 0 5px 0;
}
footer .my-projects .carousel .img-project-1 p,
footer .my-projects .carousel .img-project-2 p {
  font-size: 1.2rem;
  margin-top: 5px;
  line-height: 22px;
}
footer .my-projects .carousel .img-project-1 p.first::before,
footer .my-projects .carousel .img-project-2 p.first::before {
  content: "";
  position: absolute;
  height: 110%;
  width: 110%;
  top: -3px;
  background: #0b7994;
  transition: width 2s ease-out;
  transition-delay: 2.3s;
}
footer .my-projects .carousel .img-project-1 p.first.is-inview:before,
footer .my-projects .carousel .img-project-2 p.first.is-inview:before {
  width: 0;
}
footer .my-projects .carousel.view::after {
  content: "";
  position: absolute;
  height: 110%;
  width: 110%;
  top: -3px;
  background: #0b7994;
  transition: width 2s ease-out;
  transition-delay: 1s;
}
footer .my-projects .carousel.view.is-inview::after {
  width: 0;
}
footer span.btn {
  position: absolute;
  font-family: "font-2", sans-serif;
  color: #fefefe;
  mix-blend-mode: exclusion;
  border-bottom: 3px solid #be7404;
  margin: 5px;
  border-radius: 2px;
  cursor: pointer;
  transition: 0.5s;
  font-size: 0.8rem;
  margin-top: -50px;
  opacity: 0;
}
footer span.btn.is-inview {
  opacity: 1;
  margin: 0;
}
footer span.btn#prevProject {
  left: 10%;
  top: 80px;
  transition-delay: 4s;
}
footer span.btn#nextProject {
  right: 10%;
  top: 80px;
  transition-delay: 4.2s;
}
footer .appear p {
  font-family: "font-4", sans-serif;
  color: #333;
}
footer .contact-title {
  color: #0b7994;
}
footer .contact-title span {
  border-bottom: 3px solid #0b7994;
}
footer .contact {
  margin: 150px 0 120px;
}
footer .contact p {
  font-size: calc(1rem + 2vw);
  margin: 25px 0;
  text-align: center;
}
footer #l2 {
  transition-delay: 1.2s;
}
footer #l3 {
  transition-delay: 1.6s;
}
footer .contact a {
  font-family: "font-5", sans-serif;
  color: #0b7994;
  font-size: calc(1rem + 2vw);
}
footer .appear.icon {
  position: absolute;
  bottom: 0;
  right: 50%;
  transform: translateX(50%);
  transition-delay: 3s;
}
footer .appear.icon img {
  height: 50px;
  margin: 40px 20px;
}
footer img.img {
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0;
  height: 300px;
  width: 300px;
  transition: 1s;
  transition-delay: 2s;
  transform: translateY(300px);
}

@media screen and (max-height: 700px) {
  img.img {
    display: none;
  }
}
@media screen and (max-width: 779px) {
  .carousel {
    margin: 30px auto 0 !important;
  }
  .carousel h3 {
    margin: 5px 0 5px 5px !important;
  }
  .carousel p {
    font-size: 1.2rem;
    margin: 5px 5px 0 5px;
  }
  img.img {
    display: none;
  }
  img.icon {
    padding: 5px !important;
  }
  img.icon#prevBtn, img.icon.prevBtn {
    top: 30% !important;
    left: 2% !important;
  }
  img.icon#nextBtn, img.icon.nextBtn {
    top: 30% !important;
    right: 2% !important;
  }
}
@media screen and (max-height: 606px) and (max-width: 820px) {
  .carousel {
    width: 100vh !important;
    margin: 5px auto !important;
  }
  .carousel .img-project-1 img,
  .carousel .img-project-2 img {
    width: 100vh !important;
  }
  .carousel .img-project-1 h3,
  .carousel .img-project-2 h3 {
    display: none;
  }
  .carousel .img-project-1 p,
  .carousel .img-project-2 p {
    display: none;
  }
  .carousel .img-project-1 p.first.is-inview:before,
  .carousel .img-project-2 p.first.is-inview:before {
    width: 0;
  }
  span.btn {
    margin: 5px;
    margin-top: -50px !important;
    opacity: 0;
  }
  span.btn.is-inview {
    opacity: 1;
    margin: 0;
  }
  span.btn#prevProject {
    left: 10%;
    top: 80px;
    transition-delay: 2s;
  }
  span.btn#nextProject {
    right: 10%;
    top: 80px;
    transition-delay: 2.2s;
  }
  footer .contact {
    margin: 60px 0 20px !important;
  }
  footer .appear.icon img {
    height: 30px !important;
  }
  footer .contact p {
    font-size: calc(1rem + 1.6vw) !important;
    margin: 5px 0 !important;
    text-align: center;
  }
}
@media screen and (max-height: 580px) and (max-width: 450px) {
  .carousel {
    width: 50vh !important;
    margin: 15px auto !important;
  }
  .carousel .img-project-1 img,
  .carousel .img-project-2 img {
    width: 50vh !important;
  }
  .carousel .img-project-1 h3,
  .carousel .img-project-2 h3 {
    display: block;
  }
  .carousel .img-project-1 p,
  .carousel .img-project-2 p {
    display: block;
    font-size: 0.85rem !important;
  }
  .carousel .img-project-1 p.first.is-inview:before,
  .carousel .img-project-2 p.first.is-inview:before {
    width: 0;
  }
  span.btn {
    margin: 5px;
    margin-top: -50px !important;
    opacity: 0;
  }
  span.btn.is-inview {
    opacity: 1;
    margin: 0;
  }
  span.btn#prevProject {
    left: 10%;
    top: 110px !important;
    transition-delay: 2s;
  }
  span.btn#nextProject {
    right: 10%;
    top: 110px !important;
    transition-delay: 2.2s;
  }
  footer .contact {
    margin: 60px 0 20px !important;
  }
  footer .appear.icon img {
    height: 30px !important;
  }
  footer .contact p {
    font-size: calc(1rem + 1.6vw) !important;
    margin: 5px 0 !important;
    text-align: center;
  }
}

/*# sourceMappingURL=style.css.map */
